{% extends 'finder/index.html' %}

{% block content_main %}
    
    <div class="container">
        <p style="font-size:35px; color:whitesmoke;">
            Many people are confused with the options that they have been presented when it comes to purchasing mobile products such as smartphones,tablets and laptops...
            A lot of them waste a huge amount of time watching review videos.. This gets a bit annoying. 
            Use myProductFinder... Enter the price range and get the perfect product(s).
        </p>
    </div>

{% endblock content_main %}
