{% extends "finder/index.html" %}

{% block content_main %}

<div class="container" style="color:white;">
    
    {% for brand in brands %}
    <div class="container" style="text-align:center">
        <div class="card" style="padding:20px;border: 2px solid orange; margin-bottom:10px;justify-content:center;">
            <img src="{{ brand.logo }}" alt="no img to show" class="card-img" height="140px" width="200px">
            <p style="font-size:20px ;padding:15px;">
                {{ brand.name }} is in the position {{ brand.position }} and is in the industry for {{ brand.years }} years 
           </p>
        </div>
    </div>
        
    {% endfor %}
</div>

{% endblock content_main %}