{% extends "finder/index.html" %}

{% load crispy_forms_tags %}

{% block content_main %}

    <div class="container" style="color:white;">
        <form action="." method="post">
            {% csrf_token %}
            
            <!-- <div class="form-group">
                <label for="brand_name">Enter Brand Name</label>    
                <input class="form-control" type="text" name="brand_name" id="brand_name" required>
            </div>

            <div class="form-group">
                <label for="model">Model of the product</label>    
                <input class="form-control" type="text" name="model" id="model" required>
            </div>

            <div class="form-group">
                <label for="specification">Specs</label>    
                <textarea name="specs" id="specification" class="form-control" rows="10" required></textarea>
                
            </div>

            <div class="form-group">
                <label for="year">Year of Launch</label>    
                <input class="form-control" type="number" name="yol" id="year" required>
            </div> -->

            {{ form|crispy }}
            <button type="submit" class="btn btn-outline">Submit</button>

        </form>
        
    </div>
    
    
{% endblock content_main %}